In [ ]:
import pandas
import pandas_gbq

# TODO: Set project_id to your Google Cloud Platform project ID.
project_id = "plucky-courier-292500"

sql = """
SELECT latitude, longitude, year, month, day, air_temperature, sea_surface_temp
FROM `bigquery-public-data.noaa_icoads.icoads_core_1662_2000`
WHERE year >= 1851
AND latitude >=15.623
AND latitude <=47.279
AND longitude >=-98.965
AND longitude <=-59.063
"""
# sql = """
# SELECT latitude, longitude, year, month, day, air_temperature, sea_surface_temp
# FROM `bigquery-public-data.noaa_icoads.icoads_core_2001_2004`
# WHERE latitude >=15.623
# AND latitude <=47.279
# AND longitude >=-98.965
# AND longitude <=-59.063
# """
# TODO: Set table_id to the full destination table ID (including the
#       dataset ID).
# table_id = 'hurricane_df.hurricane_df_2001-2004'

# df = pandas.DataFrame(
#     {
#         "latitude": "latitude",
#         "longitude": "longitude",
#         "year": "year",
#         "month": "month",
#         "day": "day",
#         "air_temperature": "air_temperature",
#         "longitude": "sea_surface_temp",
#     }
# )

# years = 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017

# for year in years:

#     sql = """
#     SELECT latitude, longitude, year, month, day, air_temperature, sea_surface_temp
#     FROM `bigquery-public-data.noaa_icoads.icoads_core_{year}`
#     WHERE latitude >=15.623
#     AND latitude <=47.279
#     AND longitude >=-98.965
#     AND longitude <=-59.063
#     """

df = pandas_gbq.read_gbq(sql, project_id=project_id)
# pandas_gbq.to_gbq(df, table_id, project_id=project_id)

Downloading:  12%|██████▏                                              | 3768708/32585946 [04:44<34:52, 13772.00rows/s]

In [12]:
df2001_2004=df
df2001_2004.head()

   latitude  longitude  year  month  day  air_temperature  sea_surface_temp
0      34.3      -76.9  2001      3   17             15.8              17.8
1      17.7      -65.2  2001      3   11             25.7              26.3
2      30.9      -78.1  2001      3   20             17.8              16.0
3      17.3      -66.0  2001      3    1             25.8              26.6
4      18.3      -65.1  2001      3   11             24.0              26.5

In [13]:
compression_opts = dict(method='zip',
                        archive_name='df2001_2004.csv')  
df.to_csv('df2001_2004.zip', index=False,
          compression=compression_opts)