In [ ]:
import pandas
import pandas_gbq

# TODO: Set project_id to your Google Cloud Platform project ID.
project_id = "plucky-courier-292500"

sql = """
SELECT latitude, longitude, year, month, day, air_temperature, sea_surface_temp
FROM `bigquery-public-data.noaa_icoads.icoads_core_2016`
WHERE latitude >=15.623
AND latitude <=47.279
AND longitude >=-98.965
AND longitude <=-59.063
"""

df = pandas_gbq.read_gbq(sql, project_id=project_id)

Downloading:  58%|██████████████████████████████▎                     | 14020243/24084762 [22:04<15:18, 10958.45rows/s]

In [23]:
df2016=df
df2016.head()

   latitude  longitude  year  month  day  air_temperature  sea_surface_temp
0      17.9      -68.0  2014      1    9             30.0               NaN
1      25.6      -84.2  2014      1   15             17.0              23.0
2      26.6      -87.4  2014      1   30             16.1              21.1
3      27.5      -76.9  2014      1    8             20.0              26.0
4      33.9      -76.3  2014      1   12             22.0              23.0

In [24]:
compression_opts = dict(method='zip',
                        archive_name='df2016.csv')  
df.to_csv('df2016.zip', index=False,
          compression=compression_opts)

In [ ]:
import pandas
import pandas_gbq

# TODO: Set project_id to your Google Cloud Platform project ID.
project_id = "plucky-courier-292500"

sql = """
SELECT latitude, longitude, year, month, day, air_temperature, sea_surface_temp
FROM `bigquery-public-data.noaa_icoads.icoads_core_2017`
WHERE latitude >=15.623
AND latitude <=47.279
AND longitude >=-98.965
AND longitude <=-59.063
"""

df = pandas_gbq.read_gbq(sql, project_id=project_id)

In [ ]:
# PULL IN DEPENDENCIES AND MAKE CONNECTION
import sqlite3

conn = sqlite3.connect('?????.db')

from datetime import datetime

from flask import Flask

from flask_sqlalchemy import SQLAlchemy

In [ ]:
# CREATE TABLE IF NEEDED

conn.execute("""CREATE TABLE IF NOT EXISTS air_sea_temps (
                latitude FLOAT,
                longitude FLOAT,
                year INTEGER,
                month INTEGER,
                day INTEGER,
                air_temperature FLOAT,    
                sea_surface_temp FLOAT     
                )""")

# # ADD VALUES IF NEEDED
# values = ('Deep Learning', 
#           'Ian Goodfellow et al.', 
#           775, 
#           datetime(2016, 11, 18).timestamp())

# #EXECUTE COMMAND
# conn.execute("""INSERT INTO books VALUES (?, ?, ?, ?)""", values)

#QUERY
r = conn.execute("""SELECT * FROM ?????""")
r.fetchall()